{% extends 'layouts/base.html' %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}
<div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Card stats -->
        <div class="row">
          <div class="col-md-12">
              <div class="card" style="width: 100%;">
                  <div class="card-body">
                      <h1 class="card-title"></h1>Dashboard UseTivy</h1>
                      <hr>
                      <div class="form-group">                                          
                        <div class="table-responsive">
                          <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                              <tr>
                                <th scope="col">Project</th>
                                <th scope="col">Last Update</th>
                                <th scope="col">Date Created</th>
                                <th scope="col">Action</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row">
                                  <div class="media align-items-center">
                                    <p>Project Peminjaman Buku Perpus</p>
                                  </div>
                                </th>
                                <td>
                                  <div class="media align-items-center">
                                    <p>27-05-2021 00:00</p>
                                  </div>
                                </td>
                                <td>
                                  <div class="media align-items-center">
                                    <p>27-05-2021 00:00</p>
                                  </div>
                                </td>
                                <td>
                                  <div class="row">
                                    <a href="usecase" class="btn btn-sm btn-icon-only"  role="button"  
                                      style="background-color:#F4D03F"
                                      data-toggle="tooltip" title="Use Case Details">
                                      <i class="ni ni-folder-17" style="color:white;"></i>
                                    </a>
                                    <button class="btn btn-sm btn-icon-only "  role="button"  
                                      style="background-color:#CB4335"
                                      data-toggle="tooltip" title="Delete Project">
                                      <i class="ni ni-basket" style="color:white"></i>
                                    </button>
                                    
                                  </div>
                                </td>
                            
                              </tr>
                            </tbody>
                          </table>
                          <a href="new_project" class="btn btn-primary">Create New Project</a>
                        </div>                              
                      </div>
                  </div>
                </div>
          </div>
      </div>
      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}