{% extends 'layouts/base.html' %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}
<div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Card stats -->
        <div class="row">
          <div class="col-md-12">
              <div class="card" style="width: 100%;">
                  <div class="card-body">
                      <h1 class="card-title"></h1>Dashboard UseTivy</h1>
                      <hr>
                      <div class="form-group">                                          
                        <div class="table-responsive">
                          <input type="hidden" class="form-control" name="id_project" value="{{context.id_project}}">
                          <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                              <tr>
                                <th scope="col">No</th>
                                <th scope="col">Project</th>
                                <th scope="col">Last Update</th>
                                <th scope="col">Use Case</th>
                                <th scope="col">Action</th>
                              </tr>
                            </thead>
                            <tbody>
                            {% for p in context.project %}
                              <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>
                                  <div class="media align-items-center">
                                    <p>{{p.nama_project}}</p>
                                  </div>
                                </td>
                                <td>
                                  <div class="media align-items-center">
                                    <p>{{p.dateaccessed}}</p>
                                  </div>
                                </td>
                                <td>
                                  <div class="row">
                                    <a href="use_case/{{ p.id_project }}" class="btn btn-sm btn-primary">Use Case</a>
                                  </div>
                                </td>
                                <td>
                                  <div class="row">
                                    <a href="edit_project/{{ p.id_project }}" class="btn btn-sm btn-icon-only" role="button"  
                                      style="background-color: #58D68D "
                                      data-toggle="tooltip" title="Edit">
                                      <i class="ni ni-bag-17" style="color:white;"></i>
                                    </a>
                                    <a href="delete_project/{{ p.id_project }}" class="btn btn-sm btn-icon-only "  role="button"
                                      style="background-color:#CB4335"
                                      data-toggle="tooltip" title="Delete">
                                      <i class="ni ni-basket" style="color:white"></i>
                                    </a>
                                  </div>
                                </td>
                              </tr>
                            {% endfor %}
                            </tbody>
                          </table>
                          </br>
                          </br>
                          <a href="new_project" class="btn btn-primary">Create New Project</a>
                        </div>                              
                      </div>
                  </div>
                </div>
          </div>
      </div>
      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}