{% extends 'layouts/base.html' %}

{% block title %} Edit Project {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}
<div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Card stats -->
        <div class="row">
          <div class="col-md-12">
              <div class="card" style="width: 100%;">
                  <div class="card-body">
                      <h1 class="card-title"></h1>Edit Project</h1>
                      <hr>                                                         
                      <form method="POST" action="/edit_project/update">
                        {% csrf_token %}
                        <input type="hidden" class="form-control" name="id_project" value="{{context.id_project}}">
                        <div class="pl-lg-4">
                          <div class="row">
                            <div class="col-lg-8">
                              <div class="form-group">
                                <label class="form-control-label" for="input-usecase-name">Project Name</label>
                                <br>
                                <br>
                                <input type="text" name='nama_project' class="form-control form-control-alternative" placeholder="Project Name" value="{{context.project.nama_project}}">
                              </div>
                            </div>
                        </div>
                        <br>
                        <a href="{% url 'dashboard' %}" class="btn btn-danger">Cancel</a>
                        <button type="submit" class="btn btn-primary">Save Project</button>
                      </form>
                   </div>
                </div>
            </div>
          </div>                    
        </div>                                   
     </div>                                                                                             
</div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}