{% extends 'layouts/base.html' %}

{% block title %} Global Flow {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">
            <!-- Card stats -->
            <div class="row">
                <div class="col-md-12">
                    <div class="card" style="width: 100%;">
                        <div class="card-body">
                            <a href="bounded_flow" class="btn btn-primary collapsible" style="background-color: #F39C12; border-color:#F39C12 ">
                                <div>
                                  <i class="ni ni-bold-left"></i>
                                  <span> Back</span>
                                </div>
                              </a>
                            <h1 class="card-title"></h1>Global Flow</h1>
                            <hr>
                            <div class="form-group">                                          
                                <label for="exampleInputEmail1">Step</label>
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="input-group mb-4">
                                            <input class="form-control" placeholder="Step 1" type="text">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <button class="btn btn-primary text-white" v-on:click="addStep"> <i
                                            class="fa fa-plus pr-2"></i></button>
                                    </div>
                                </div>                                                                                                      
                                <label for="exampleInputEmail1">Post Condition</label>
                                <div class="row">
                                    <div class="col-md-8">
                                        <input class="form-control" placeholder="Post Condition" type="text">
                                    </div>
                                </div>                                
                            </div>
                            <a href="usecase" class="btn btn-primary">Save Use Case</a>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}