{% extends 'layouts/base.html' %}

{% block title %} Use Case {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
{% endblock stylesheets %}

{% block content %}
<div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Card stats -->
        <div class="row">
          <div class="col-md-12">
              <div class="card" style="width: 100%;">
                  <div class="card-body">
                      <h1 class="card-title"></h1>Use Case List</h1>
                      <hr>
                      <div class="form-group">                                          
                        <div class="table-responsive">
                          <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                              <tr>
                                <th scope="col">No</th>
                                <th scope="col">Use Case</th>
                                <th scope="col">Date Created</th>
                                <th scope="col">Action</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row">
                                  <div class="media align-items-center">
                                    <p>1</p>
                                  </div>
                                </th>
                                <td>
                                  <div class="media align-items-center">
                                    <p>Sign Up</p>
                                  </div>
                                </td>
                                <td>
                                  <div class="media align-items-center">
                                    <p>27-05-2021 00:00</p>
                                  </div>
                                </td>
                                <td>
                                  <div class="row">
                                    <a href="edit_use_case" class="btn btn-sm btn-icon-only"  role="button"  
                                      style="background-color:#F4D03F"
                                      data-toggle="tooltip" title="Edit Use Case">
                                      <i class="ni ni-align-left-2" style="color:white;"></i>
                                    </a>
                                    <a class="btn btn-sm btn-icon-only "  role="button"  
                                      style="background-color:#CB4335"
                                      data-toggle="tooltip" title="Delete Use Case">
                                      <i class="ni ni-basket" style="color:white"></i>
                                    </a>
                                    <a href="project_view" class="btn btn-sm btn-icon-only"  role="button"  
                                      style="background-color: #58D68D "
                                      data-toggle="tooltip" title="View Use Case">
                                      <i class="ni ni-bag-17" style="color:white;"></i>
                                    </a>
                                  </div>
                                 
                                </td>
                              </tr>
                            </tbody>
                          </table>
                          <div class="container">
                            <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo">Create New Usecase</button>
                            <div id="demo" class="collapse">
                              <div class="content" style="padding: 10px">
                                <div class="col-xl-8 order-xl-1">
                                  <div class="card bg-secondary shadow">
                                    <div class="card-body">
                                      <form>
                                        <div class="pl-lg-4">
                                          <div class="row">
                                            <div class="col-lg-12">
                                              <div class="form-group">
                                                <label class="form-control-label" for="input-username">Use Case Name</label>
                                                <input type="text" id="input-username" class="form-control form-control-alternative" placeholder="Insert use case name">
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                        <a href="usecase" class="btn btn-primary collapsible">
                                          <div>
                                            <i class="ni ni-check-bold"></i>
                                            <span> Save</span>
                                          </div>
                                        </a>
                                      </form>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>                              
                      </div>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>
</div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}
<!-- <script>
  var coll = document.getElementsByClassName("collapsible");
  var i;
  
  for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var content = this.nextElementSibling;
      if (content.style.display === "block") {
        content.style.display = "none";
      } else {
        content.style.display = "block";
      }
    });
  }

  $('.clk a').click(function(){
    $(this).find('i').toggleClass('fa-plus-circle fa-minus-circle')
});
  </script> -->

{% endblock javascripts %}