{% extends 'layouts/base.html' %}

{% block title %} Use Case View {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}
<div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Card stats -->
        <div class="row">
          <div class="col-md-12">
              <div class="card" style="width: 100%;">
                  <div class="card-body">
                    <a href="" class="btn btn-primary collapsible" style="background-color: #F39C12; border-color:#F39C12 ">
                      <div>
                        <i class="ni ni-bold-left"></i>
                        <span> Back</span>
                      </div>
                    </a>
                      <h1 class="card-title"></h1>Use Case View</h1>
                      <hr>   
                      <form>
                        <h6 class="heading-small text-muted mb-4">Basic Information</h6>
                        <div class="pl-lg-4">
                          <div class="row">
                            <div class="col-lg-8">
                              <div class="form-group">
                                <label class="form-control-label" for="input-usecase-name">Usecase Name</label>
                                <p>{{context.use_case.nama_usecase}}</p>
                              </div>
                            </div>
                            <div class="col-lg-8">
                              <div class="form-group">
                                <label class="form-control-label" for="input-brief-desc">Brief Description</label>
                                <p>{{context.use_case.bried_description}}</p>
                              </div>
                            </div>
                            <div class="col-lg-8">
                              <div class="form-group">
                                <label class="form-control-label" for="input-precondition">Precondition</label>
                                <p>{{context.use_case.precondition}}</p>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-lg-6">
                              <div class="form-group">
                                <label class="form-control-label" for="input-first-name">Primary Actor</label>
                                <p>{{context.use_case.primary_actor}}</p>
                              </div>
                            </div>
                            <div class="col-lg-6">
                              <div class="form-group">
                                <label class="form-control-label" for="input-sec-actor">Secondary Actor</label>
                                <p>{{context.use_case.secondary_actor}}</p>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-lg-6">
                              <div class="form-group">
                                <label class="form-control-label" for="input-depedency">Depedency</label>
                                <p>{{context.use_case.dependency}}</p>
                              </div>
                            </div>
                            <div class="col-lg-6">
                              <div class="form-group">
                                <label class="form-control-label" for="input-generalization">Generalization</label>
                                <p>{{context.use_case.generalization}}</p>
                              </div>
                            </div>
                          </div>
                        </div>
                        <hr class="my-4" />
                        <!-- Basic FLow -->
                        <h6 class="heading-small text-muted mb-4">Basic Flow</h6>
                        <div class="pl-lg-4">
                          <label class="form-control-label" for="input-address">Step</label>
                          <div class="row">                                                          
                            <div class="col-md-8">
                              <p>Rule + Step Basic Flow</p>                            
                            </div>
                          </div>                            
                          <div class="row">
                            <div class="col-lg-8">
                              <div class="form-group">
                                <label class="form-control-label" for="input-city">Postcondition</label>
                                <p>Postcondition Basic Flow</p>
                              </div>
                            </div>                                            
                          </div>
                        </div>
                        <hr class="my-4" />
                        <!-- Specific FLow -->
                        <h6 class="heading-small text-muted mb-4">Specific Flow</h6>
                        <div class="pl-lg-4">
                          <label class="form-control-label" for="input-address">Step</label>
                          <div class="row">                                                          
                            <div class="col-md-8">
                              <p>Rule + Step Specific Flow</p>                            
                            </div>
                          </div>                            
                          <div class="row">
                            <div class="col-lg-8">
                              <div class="form-group">
                                <label class="form-control-label" for="input-city">Postcondition</label>
                                <p>Postcondition Specific Flow</p>
                              </div>
                            </div>                                            
                          </div>
                        </div>
                        <hr class="my-4" />
                        <!-- Bounded FLow -->
                        <h6 class="heading-small text-muted mb-4">Bounded Flow</h6>
                        <div class="pl-lg-4">
                          <label class="form-control-label" for="input-address">Step</label>
                          <div class="row">                                                          
                            <div class="col-md-8">
                              <p>Rule + Step Bounded Flow</p>                            
                            </div>
                          </div>                            
                          <div class="row">
                            <div class="col-lg-8">
                              <div class="form-group">
                                <label class="form-control-label" for="input-city">Postcondition</label>
                                <p>Postcondition Bounded Flow</p>
                              </div>
                            </div>                                            
                          </div>
                        </div>
                        <hr class="my-4" />
                        <!-- Global FLow -->
                        <h6 class="heading-small text-muted mb-4">Global Flow</h6>
                        <div class="pl-lg-4">
                          <label class="form-control-label" for="input-address">Step</label>
                          <div class="row">                                                          
                            <div class="col-md-8">
                              <p>Rule + Step Global Flow</p>                            
                            </div>
                          </div>                            
                          <div class="row">
                            <div class="col-lg-8">
                              <div class="form-group">
                                <label class="form-control-label" for="input-city">Postcondition</label>
                                <p>Postcondition Global Flow</p>
                              </div>
                            </div>                                            
                          </div>
                        </div>
                        <hr class="my-4" />
                        <a href="edit_use_case" class="btn btn-primary">Edit Use Case</a>
                        <a href="activity_diagram" class="btn btn-primary">Activity Diagram</a>
                      </form>
                    </div>
                  </div>
                </div>
              </div>                    
            </div>                                   
          </div>                                                                                             
        </div>      
      </div>
    </div>
  </div>  
</div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}